*{
    margin: 0;
    padding: 0;
}
.contenaireGlobal{
    background: rgb(206, 204, 204);
}
/*--mise en forme du head de toutes les feuilles--*/
.headTotal{
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url(./images/astronaute.jpg);
}

.head{
    position: absolute;
    top: 50px;
    left: 50px;
    height: 150px;
    width: 500px;
    background: rgba(231, 228, 228, 0.253);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(10px);
    -webkit-background-filter: blur(10px);
    border:#fff;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    text-align: center;
}
.container{
    margin: 10px;
    padding: 10px;
}
.boxTotal{
    display: flex;
    margin: 10px;
    padding: 10px;
}

.card {
    margin: 10px;
    padding: 10px;
}

.card-header{
    text-align: right;
}

.article{
    padding: 10px;
    align-items: center;
    vertical-align: center;
}

.clients{
    display: flex;
    height: 300px;
    width: 100%;
    margin: 10px;
    padding: 10px;
}
.clients.h2{
    font-size: 2rem;
}
.clientImg{
    height: 100%;
    width: 45%;
    display: block;
    background-image: url(./images/clients.jpg);
    margin-right:auto;
    margin-left: auto;
    padding: 3px;
    border-radius: 20px;
}
.client{
    height:100%;
    width: 73%;
    padding: 3px;
}

.experience{
    height: 200px;
    width: 100%;
    background-image: url(./images/lignesdecode.jpg);
    color:rgb(255, 6, 6);
    font-size: 3rem;
    font-weight: 700px;
    align-items: center;
    text-align: center;
    vertical-align: center;
    border-radius: 20px;
}

.graphCom{
    display: flex;
    height: 285px;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.communication{
    height:100%;
    width: 73%;
    padding: 3px;
}

.comunicationImg{
    height: 100%;
    width: 30%;
    display: block;
    background-image: url(./images/graphismecom.jpg);
    margin-right:auto;
    margin-left: auto;
    padding: 3px;
    border-radius: 20px;
}

/*--pied de page---*/
footer{
    height: 170px;
    width: auto;
}
.foot{
    display: flex;
    background: #000;
    color: #fff;
    
}
.footlien{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

/*--style coter contact--*/
.containerContact{
    margin: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}


/*--responsive--*/
/*ça marche pas et je ne sais pas pourquoi*/
@media screen and (max-width: 700px){
    .contenaireGlobal{
        font-size: 10px;
        display: block;
        block-size: auto;
        justify-content: center;
        text-align: center;
        grid-auto-rows: 55px;
    }
};